@keyframes animacao-box{
		/* Início da animação*/
	from{background: red;
		border-radius: 0px;
		top: 0;
		left: 0;
	}
		/* mudança */
	to{background: yellow;
		border-radius: 300px; /* mudança dos cantos (transforma em bola)*/
		top:200px;
		left: 400px;
	}
}

#box-animacao{
	width: 300px;
	height: 300px;
	background: red;
	position: relative;
	animation-name: animacao-box;
	animation-duration: 4s;
	animation-delay: 1s; /*tempo para iniciar a animação*/
	animation-iteration-count: 2;
	animation-direction: alternate;

}